/base.png
/alphacolor.png
/dairoscolor.png
/epsiloncolor.png
/lyomahcolor.png
/config.js
/PROD-config.js
/package-lock.json
/package.json
/assets/feedbacks.json
/assets/rpg/archivesmaitres.json

/assets/guerre/armies
/assets/guerre/caserne
/.git
/logs
/out
/.vscode
/node_modules